aegis-v6/server/src/n8n-workflows/wf16-drought-monitor.json
{
  "name": "AEGIS WF16 — Drought Risk Monitor",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 6 }] } },
      "name": "Schedule (6 hr)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "id": "wf16-trigger"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=57.15&longitude=-2.09&daily=precipitation_sum,temperature_2m_max,et0_fao_evapotranspiration&hourly=soil_moisture_0_to_1cm&timezone=auto&forecast_days=7&past_days=30",
        "options": { "timeout": 15000 }
      },
      "name": "Fetch Climate Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [420, 200],
      "id": "wf16-climate"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=57.15&longitude=-2.09&current=temperature_2m,relative_humidity_2m&timezone=auto",
        "options": { "timeout": 10000 }
      },
      "name": "Fetch Current Conditions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [420, 400],
      "id": "wf16-current"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByPosition": true,
        "options": {}
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [640, 300],
      "id": "wf16-merge"
    },
    {
      "parameters": {
        "jsCode": "const climate = $input.all()[0]?.json || {};\nconst current = $input.all()[1]?.json || {};\n\n// 30-day precipitation total\nconst precipSums = climate.daily?.precipitation_sum || [];\nconst total30d = precipSums.reduce((s, v) => s + (v || 0), 0);\n\n// Evapotranspiration (water demand)\nconst et0Sums = climate.daily?.et0_fao_evapotranspiration || [];\nconst totalET0 = et0Sums.reduce((s, v) => s + (v || 0), 0);\n\n// Soil moisture (first available hourly reading)\nconst soilMoisture = (climate.hourly?.soil_moisture_0_to_1cm || [])[0] || 0.2;\n\n// Current temperature and humidity\nconst temp = current.current?.temperature_2m || 15;\nconst humidity = current.current?.relative_humidity_2m || 60;\n\n// Drought index: Water deficit = ET0 - Precipitation (Palmer-inspired)\nconst waterDeficit = totalET0 - total30d;\nconst soilDryness = Math.max(0, 1 - (soilMoisture / 0.35)); // normalize: 0.35 = field capacity\n\n// Composite drought score (0-100)\nlet droughtScore = 0;\ndroughtScore += Math.min(40, Math.max(0, waterDeficit * 0.8)); // up to 40 pts from deficit\ndroughtScore += soilDryness * 30; // up to 30 pts from soil dryness\ndroughtScore += Math.max(0, (temp - 15) * 0.5); // up to ~10 pts from heat\ndroughtScore += Math.max(0, (60 - humidity) * 0.3); // up to ~18 pts from low humidity\ndroughtScore = Math.min(100, Math.round(droughtScore));\n\nlet severity = 'Low';\nlet probability = 0.05;\nlet action = 'monitor';\nif (droughtScore >= 75) { severity = 'Critical'; probability = 0.90; action = 'issue_critical_alert'; }\nelse if (droughtScore >= 55) { severity = 'High'; probability = 0.65; action = 'issue_warning'; }\nelse if (droughtScore >= 30) { severity = 'Medium'; probability = 0.40; action = 'issue_advisory'; }\n\nreturn [{ json: {\n  incidentType: 'drought',\n  severity,\n  probability,\n  droughtScore,\n  total30dPrecipMm: Math.round(total30d * 10) / 10,\n  totalET0Mm: Math.round(totalET0 * 10) / 10,\n  waterDeficitMm: Math.round(waterDeficit * 10) / 10,\n  soilMoisture: Math.round(soilMoisture * 100) / 100,\n  temp,\n  humidity,\n  action,\n  shouldAlert: severity !== 'Low',\n  timestamp: new Date().toISOString()\n}}];"
      },
      "name": "Calculate Drought Index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300],
      "id": "wf16-drought-index"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{$json.shouldAlert}}", "operation": "equal", "value2": true }]
        }
      },
      "name": "Should Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1080, 300],
      "id": "wf16-if-alert"
    },
    {
      "parameters": {
        "url": "=http://localhost:3001/api/v1/incidents/drought/active",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "source", "value": "n8n_wf16" },
            { "name": "severity", "value": "={{$json.severity}}" },
            { "name": "probability", "value": "={{$json.probability}}" },
            { "name": "droughtScore", "value": "={{$json.droughtScore}}" },
            { "name": "waterDeficitMm", "value": "={{$json.waterDeficitMm}}" },
            { "name": "soilMoisture", "value": "={{$json.soilMoisture}}" },
            { "name": "action", "value": "={{$json.action}}" },
            { "name": "timestamp", "value": "={{$json.timestamp}}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "name": "POST Alert to AEGIS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1300, 200],
      "id": "wf16-post-alert"
    },
    {
      "parameters": {
        "url": "=http://localhost:3001/api/v1/incidents/drought/active",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "source", "value": "n8n_wf16_routine" },
            { "name": "severity", "value": "={{$json.severity}}" },
            { "name": "droughtScore", "value": "={{$json.droughtScore}}" },
            { "name": "timestamp", "value": "={{$json.timestamp}}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "name": "POST Routine Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1300, 400],
      "id": "wf16-post-routine"
    }
  ],
  "connections": {
    "Schedule (6 hr)": {
      "main": [[
        { "node": "Fetch Climate Data", "type": "main", "index": 0 },
        { "node": "Fetch Current Conditions", "type": "main", "index": 0 }
      ]]
    },
    "Fetch Climate Data": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Fetch Current Conditions": { "main": [[{ "node": "Merge", "type": "main", "index": 1 }]] },
    "Merge": { "main": [[{ "node": "Calculate Drought Index", "type": "main", "index": 0 }]] },
    "Calculate Drought Index": { "main": [[{ "node": "Should Alert?", "type": "main", "index": 0 }]] },
    "Should Alert?": {
      "main": [
        [{ "node": "POST Alert to AEGIS", "type": "main", "index": 0 }],
        [{ "node": "POST Routine Update", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["aegis", "drought", "monitor", "climate"],
  "meta": {
    "description": "Monitors drought risk every 6 hours using precipitation deficit, evapotranspiration, and soil moisture data. Uses Palmer Drought Severity Index-inspired scoring. Triggers alerts when drought score exceeds advisory/warning/critical thresholds."
  }
}
